.action-btn-group {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 26px;
  flex-wrap: wrap;
}

.btn {
  padding: 14px 28px;
  font-size: 17px;
  font-weight: 700;

  background: linear-gradient(135deg, var(--green-700), var(--green-900));
  color: white;

  border: 2px solid var(--green-900);
  border-radius: 14px;

  cursor: pointer;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.22);

  transition: 0.28s ease;
}

.btn:hover {
  background: linear-gradient(135deg, var(--green-600), var(--green-800));
  transform: translateY(-3px);
  color: var(--green-700);
}

.btn:active {
  transform: scale(0.96);
}
