.auth-card {
  width: 100%;
  max-width: 420px;

  background: rgba(255, 255, 255, 0.22);
  backdrop-filter: blur(14px);

  padding: 40px 32px;
  border-radius: 18px;

  border: 2px solid rgba(255, 255, 255, 0.35);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.5s ease;
}
