<!--Used to create and style the header-->
<div class="header">
    <div class="nav-buttons">
        <a href="/">
            <img src="/frontend/images/wip.PNG" alt="logo" class="logo" />
        </a>
        <button id="eventsBtn">Events</button>
        <button id="statisticsBtn">Statistics</button>
        <button id="bookmarksBtn">Bookmarks</button>
    </div>

    <div class="profile">
        <div class="profile-icon">
            <img src="/frontend/images/wip.PNG" alt="Profile Icon" >
            <button class="login-btn">Log In</button>
        </div>
    </div>
</div>
