.login-page {
  min-height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 20px;
  animation: fadeIn 0.6s ease;
}

.auth-title {
  text-align: center;
  margin-bottom: 6px;
  font-size: 32px;
  font-weight: 800;
  color: var(--green-900);
}

.auth-subtitle {
  text-align: center;
  color: var(--gray-700);
  margin-bottom: 24px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.auth-input {
  padding: 14px 16px;
  font-size: 16px;

  background: rgba(255, 255, 255, 0.75);
  border: 2px solid var(--green-600);

  border-radius: 12px;
  outline: none;

  transition: 0.2s ease;
}

.auth-input:focus {
  border-color: var(--green-800);
  background: white;
}

.auth-btn {
  padding: 14px 20px;
  background: var(--green-700);
  color: white;
  font-weight: 700;
  border-radius: 12px;
  border: none;

  cursor: pointer;
  margin-top: 10px;
  transition: 0.25s ease;
}

.auth-btn:hover {
  background: var(--green-800);
  transform: translateY(-2px);
}

.auth-message {
  margin-top: 15px;
  text-align: center;
  font-weight: 600;
  color: var(--green-900);
}

.auth-footer {
  text-align: center;
  margin-top: 20px;
  color: var(--gray-700);
}

.auth-link {
  color: var(--green-800);
  font-weight: 700;
}
